{% extends "template.html" %}
{% block title1 %}{{ theTitle }} in your songs{% endblock %}

{% block listcontent %}
    <h4>Song Information</h4>
    {% for key, value in song.items() %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>
{% endblock %}
{% block options %}
    <h4>Make Changes</h4>
    <!-- Submission Form -->
	<form method="post" action="/update/{{ song._id  }}">
		<p><label for="updates">Change Title:</label>
		<input type="text" name="song_title" value="{{song.title}}"></p>
		<p><label for="updates">Change Artist:</label>
		<input type="text" name="song_artist" value="{{song.artist}}"></p>
		<p><label for="updates">Change Comment:</label>
		<input type="text" name="song_comment" value="{{song.comment}}"></p>
		<input type="submit" value="Submit">
    </form>
{% endblock %}
 {% block content %}
    <a href='/remove/{{ song._id  }}'>REMOVE SONG</a><br>
    <a href='/'>Go Back</a>
    {% endblock %}
