<html>
    <head>
        <title>Music Database</title>
    </head>
    <body>
        <h1>Your Music Database</h1>
        <h2>Add a song to the database</h2>
        <div>
            <form method="post" action="/song/new">
            <label for="song_name">Song Title:</label>
            <input type="text" name="song_name" value="">
            <label for="song_artist">Artist:</label>
            <input type="text" name="song_artist" value="">
            <label for="song_comment">Comment:</label>
            <input type="text" name="song_comment" value="">
            <input type="submit" value="Submit">
          </form>
        </div>
        <h2>Some Options</h2>
        <div>
            <a href="/add">ADD 12 Hardcoded songs</a><br>
           <a href="/remove">REMOVE ALL</a><br>
           <a href="/sort/title">SORT by title (ascending)</a><br>
            <form method="post" action="/find/artist">
            <label for="artist">List the Titles for this Artist:</label>
            <input type="text" name="artist" value="">
            <input type="submit" value="Submit">
          </form>
        </div>
         <h2>Your Current Database</h2>
         <h3>Click on Album Name for more information and to edit</h3>
        <div>
        <ul>
          {% for record in records %}
            <li><a href="/find/{{ record._id }}">{{ record.title }}</a> - {{ record.artist }} - {{ record.comment }}</li>
          {% endfor %}
      </ul>
    </div>
        </div>
      


      
    </body>
</html>